<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
</head>
<body>
    <div class="container">
        <div class="container-navbar">
            <nav>
                <a href="/" class="text home ">Home</a>
                <a href="about" class="text about active">About</a>
                <a href="contact" class="text contact">Contact</a>
            </nav>
        </div>

        <div class="mainPage">
            <div class="mainSec">
                <h1 class="text"> Hello Everyone!
My name is Kaysan Shaikh, and I am currently pursuing my Master of Computer Applications (MCA) at Mumbai Educational Trust's Institute of Computer Science.

I am eager to secure an entry-level position in the IT industry, where I can leverage my analytical and technical skills to contribute effectively. As a confident individual, I excel both independently and in team environments, with strong communication and problem-solving abilities.

Throughout my academic journey, I have worked on various projects, including the Student Result Management System and Image Colorization using Python. These experiences have honed my critical thinking skills and strengthened my ability to tackle complex challenges.

Beyond academics, I enjoy walking, watching series/anime, and reading books. I am known for being hardworking, honest, punctual, and possessing strong communication skills.

With a passion for continuous learning and professional growth, I am excited to embark on a rewarding career in the IT industry. </h1>
            </div>
        </div>
    </div>
    
</body>
</html>