<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
</head>
<body>
    <div class="container">
        <div class="container-navbar">
            <nav>
                <a href="/" class="text home ">Home</a>
                <a href="about" class="text about active">About</a>
                <a href="contact" class="text contact">Contact</a>
            </nav>
        </div>

        <div class="mainPage">
            <div class="mainSec">
                <h1 class="text"> Hello Guysss!!! My Name is Kaysan Shaikh and I am A final Year T.Y Student From Thakur College of Science and Commerce. 
				An individual who is keen to secure an entry level job in the IT industry where I could demonstrate my analytical and technical skills.
				Confident individual who can work alone or as a team, capable of communicating effectively and resolving problems. 
				Having a good academic record made me an excellent candidate for any professional team.
				I have completed various projects throughout my academic career including the Student Result Management System and Image Colorization using Python. 
				These projects have helped me develop critical thinking and problem-solving skills, and I am confident in my ability to tackle complex challenges.
				Outside of my professional pursuits, I enjoy hobbies such as walking, watching series/anime and reading books. 
				I am hardworking, honest, punctual, and possess good communication skills.
				Overall, I am a diligent, skilled, and motivated individual who is committed to achieving personal and professional growth </h1>
            </div>
        </div>
    </div>
    
</body>
</html>